* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #696969;
    color: #fffafa;
    text-align: center;
    padding: 0;
  }
  #introduction {
    padding-left: 3%;
  }
  
  .container {
    position: relative;
    text-align: center;
    color: white;
  }

  container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .highlight {
    font-style: italic;
    font-weight: bold;
    color: chocolate;
  }
  
  header h1 {
    font-size: 50px;
  }
  
  .background-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 10px 40%;
    margin-left: -15px;
    opacity: 0.4;
  }

  .text-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  #article > h1, h2 {
    margin-top: 4%;
  }
  
  .article-style {
    max-width: max-content;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    h1 {
    color: #333;
    }
    p {
    color: #666;
    }
  
  
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  #inventions {
    color: black;
    padding-top: 2%; 
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  
  .field-img {
    padding: 1%;
  }

  #info {
    color: silver;
    text-align: center;
    padding-bottom: 2%;
  }

  #timeline {
    color: chocolate;
    display: inline-block;
    vertical-align: middle;
    padding-top: 5%;
    padding-left: 3%;
  }